body {
  display: flex;
  flex-direction: column;
}

.banner {
  display: flex;
  flex-direction: column;
  background-color: #1F2937;
}

.header {
  display: flex;
}

.welcome-header {
  display: flex;
}

.welcome-header h1:first-child {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

.site-description > p {
  color: #E5E7EB;
  font-size: 18px;
}
ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  color: #E5E7EB;
  font-size: 18px;
}

ul li:first-child {
  color: #F9FAF8;
  font-size: 24px;
}

.site-description {
  display: flex;
  flex-direction: column;
}

.header-image {
  background-color: rgb(128, 128, 128, .7);
  width: 30%;
  color: white;
  text-align: center;
}

.page-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-body h1:first-child {
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
}

.images {
  display: flex;
  gap: 50px;
}

.box {
  height: 150px;
  width: 150px;
  border: 5px solid blue;
  border-radius: 20%;
}

.box-container {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.quote {
  background-color: #E5E7EB;
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote > p {
  width: 1000px;
}

.footer {
  background-color: rgb(73, 73, 236);
  display: flex;
}

.footer > p {
  color: white
}

button {
  background-color: #3882f6;
}
